<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<a href="/examen/fisica/i/7/1"> fisica </a>
	<a href="/examen/calculo/i/7/1"> calculo </a>
  </body>
</html>
